.about-skills {
  // display: flex;
  // flex: 0 1 auto;
  // flex-wrap: wrap;
  // justify-content: space-between;
}

.about-skills {
  .skill-group {
    // width: 50%;
    // flex-basis: 45%;
    margin: 1rem 0;
    padding: 20px;

    .card-header {
      background-color: transparent;
      padding: 0;
      margin-bottom: 10px;

      h4 {
        font-size: 22px;
        font-weight: 500;
      }
    }

    .project-body {
      padding: 0;
      font-size: 18px;
      color: #72797a;
    }

    + .skill-group {
      // margin-top: 1rem;
    }

    &.frontend {
      border-bottom: 4px solid #f07b3f;
      h4 {
        color: #f07b3f;
      }
    }

    &.backend {
      border-bottom: 4px solid #2d4059;
      h4 {
        color: #2d4059;
      }
    }

    &.cloud-other {
      border-bottom: 4px solid #ea5455;
      h4 {
        color: #ea5455;
      }
    }

    &.native {
      border-bottom: 4px solid #facf5a;
      h4 {
        color: #facf5a;
      }
    }
  }
}