.header {
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;

  transition: all 300ms ease;

  a {
    color: #FFF !important;
  }
}

.nav > div + div {
  padding-left: 20px;
}

.header.transparent {
  background-color: transparent !important;
  color: #222 !important; 

  a {
    color: #222 !important;
  }
}

.header .container {
  @media only screen and (max-width: 768px) {
    margin: 0;
    width: 100%;
  }
}