.header {
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;

  transition: all 300ms ease;

  a {
    color: #FFF !important;
  }
}

.nav > div + div {
  padding-left: 20px;
}

.header.transparent {
  background-color: transparent !important;
  // color: #222 !important;
  color: #FFF;

  a {
    color: #FFF;
    // color: #222 !important;
  }
}

.header .container {
  @media only screen and (max-width: 768px) {
    margin: 0;
    width: 100%;
  }
}

.header.header-opaque {
  color: #FFF !important;
  // background-color: rgb(21, 101, 192) !important;
  background-color: #1565c0 !important;
  opacity: 1;

  a {
    color: #FFF !important;
  }
}

// FOOTER
.Footer {
  background-color: #343a40;
  color: #FFF;
  padding: 1.5rem 2rem;
  text-align: center;

  a {
    color: #FFF;
  }

  h4 {
    margin-bottom: 10px;
  }
}

.links-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  align-items: center;
  height: 100%;

  a + a {
    margin-left: 10px;
  }

  a {
    transition: all 200ms ease;

    img {
      margin: 0;
    }
  }

  a:hover {
    color: #BBBBBB;
  }
}

.footer-icon {
  width: 40px;
  height: 40px;
}