.Hero {
  height: 90vh;
  color: #FFF;

  .hero-headline {
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
  }

  .row {
    height: 100%;
  }

  .hero-animation {
    position: absolute;
    z-index: -5;
    transition: all 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  .hero-top {
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  }

  .hero-bottom {
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
  }
}

.Hero.active {
  .hero-animation {
    background-color: teal;
  }

  .hero-bottom {
    width: 100%;
  }

  .hero-top {
    width: 100%;
  }

  // mobile media queries
  @media only screen and (max-width: 768px) {
    height: 80vh;

    .hero-headline {
      font-size: 28px;
      line-height: 1.5;
      text-align: center;
    }
  }
}
