.Hero {
  height: 100vh;
  color: #fff;
  background-color: rgb(21, 101, 192);
  // background-color: #FFF;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);

  .hero-headline {
    font-size: 4rem;
    line-height: 4.25rem;
    text-align: left;
    padding: 0 1rem;
    margin-top: 50px;
    margin-bottom: 0rem;
    opacity: 0;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    width: 100vw;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);

    @media only screen and (max-width: 768px) {
      font-size: 3rem;
      line-height: 3.25rem;
    }

    .hero-inline-yellow {
      color: #f6dd3b;
    }

    .hero-inline-light-blue {
      color: #61dafb;
    }

    .hero-inline-red {
      color: #fc929e;
    }

    .hero-subhead {
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 1rem 0;
    }
  }

  .code-section {
    font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
      'Liberation Mono', Menlo, Courier, monospace;
    // padding: 0 1rem;

    > pre {
      background: transparent !important;
      margin-bottom: 0 !important;
    }

    > pre > code {
      color: rgba(255, 255, 255, 0.3) !important;
      font-size: 0.6rem;
    }

    > pre > code > span {
      color: rgba(255, 255, 255, 0.3) !important;
      font-weight: 400 !important;
    }
  }

  .row {
    height: 100%;
  }

  // .hero-animation {
  //   position: absolute;
  //   z-index: -5;
  //   transition: all 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
  // }

  // .hero-top {
  //   top: 0;
  //   left: 0;
  //   width: 50%;
  //   height: 50%;
  // }

  // .hero-bottom {
  //   bottom: 0;
  //   right: 0;
  //   width: 50%;
  //   height: 50%;
  // }
}

.Hero.active {
  background-color: rgb(21, 101, 192);

  .hero-headline {
    margin-top: 0;
    opacity: 1;
    margin-bottom: 3rem;
  }
}

// .Hero.active {
//   .hero-animation {
//     background-color: #1565c0;
//   }

//   .hero-bottom {
//     width: 100%;
//   }

//   .hero-top {
//     width: 100%;
//   }

//   // mobile media queries
//   @media only screen and (max-width: 768px) {
//     height: 80vh;

//     .hero-headline {
//       font-size: 28px;
//       line-height: 1.5;
//       text-align: center;
//     }
//   }
// }
