.section-header {
  margin: 50px 0;
}

.Project {
  + .Project {
    margin-top: 50px;
  }
}

.project-wrapper {
  text-decoration: none !important;
  color: initial !important;
}

.project-title {
  color: #222;
  text-transform: capitalize;
}

.project-card {
  border-radius: 6px;
  border: 0;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-top: 25px;

  a {
    color: initial !important;
    text-decoration: none !important;
  }

  transition: all 300ms ease;

  .project-footer {
    padding: 10px 20px;
    background-color: hsl(0, 0%, 97%);
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-transform: capitalize;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    display: flex;
    flex-direction: row;
    // justify-content: space-between;

    transition: all 300ms ease;

    .language-badge {
      font-size: 12px;
      background-color: #fff;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 25px;
      font-weight: 400;

      &.JavaScript {
        background-color: #f8dc3d;
      }

      &.HTML {
        background-color: #e44d26;
        color: #fff;
      }

      &.CSS {
        background-color: #2e9ed8;
        color: #fff;
      }

      &.React {
        background-color: #00d8ff;
      }

      + .language-badge {
        margin-left: 10px;
      }
    }
  }

  .project-body {
    padding: 20px;
    font-size: 16px;
  }

  .project-highlights {
    margin-top: 20px;
  }

  &:hover {
    transform: translateY(-5px);

    .project-footer {
      background-color: #e7e6e6;
    }
  }
}
