.section-header {
  margin: 50px 0;
}

.Project {
  + .Project {
    margin-top: 50px;
  }
}

.project-wrapper {
  text-decoration: none !important;
  color: initial !important;
}

.project-title {
  color: #222;
  text-transform: capitalize;
  line-height: 1.1;
  font-size: 1.38316rem;
}

.project-card {
  border-radius: 6px;
  border: 0;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-top: 25px;

  a {
    color: initial !important;
    text-decoration: none !important;
  }

  transition: all 300ms ease;

  .project-footer {
    padding: 10px 20px;
    background-color: hsl(0, 0%, 97%);
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-transform: capitalize;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    flex-direction: row;

    // justify-content: space-between;

    transition: all 300ms ease;
  }

  .project-body {
    padding: 20px;
    font-size: 16px;
  }

  .project-highlights {
    margin-top: 20px;
  }

  &:hover {
    transform: translateY(-5px);

    .project-footer {
      background-color: #e7e6e6;
    }
  }
}

.project-section-header {
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    margin: 0;
  }
}

.source-icon {
  width: 40px;

  // height: 40px;
  padding-left: 15px;
  margin: 0;
}

.project-name {
  text-transform: capitalize;
  line-height: 1.25;
}

.project-demo-link {
  color: #222;
  text-decoration: none;
  line-height: 1.25;
  position: relative;
  transition: all 200ms ease;

  &:after {
    content: '';
    width: 100%;
    height: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:before {
    content: '';
    width: 0%;
    height: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    // border-bottom: 2px solid rgba(0, 0, 0, 0.8);

    &:before {
      width: 100%;
    }
  }
}

.language-badge {
  font-size: 12px;
  background-color: #fff;
  border-radius: 4px;
  font-weight: 400;
  padding: 4px 9px;
  text-transform: capitalize;

  &.JavaScript {
    background-color: #f8dc3d;
  }

  &.HTML {
    background-color: #e44d26;
    color: #fff;
  }

  &.CSS {
    background-color: #2e9ed8;
    color: #fff;
  }

  &.React {
    background-color: #00d8ff;
  }

  + .language-badge {
    margin-left: 10px;
  }
}